{% extends 'bs/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
               <legend class="border-bottom mb-4">Login</legend>
            {{ form|crispy }}

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Register</a>
            </small>
        </div>
    </div>
{% endblock %}